body {
	padding: 1rem;
}

h1,
h2,
input,
ol {
	margin: 0 0 1rem;
}

ol {
	padding: 0 1rem;
}

ol li button {
	margin-left: 0.5rem;
}

button,
.button {
	appearance: none;
	background-color: buttonface;
	border: 1px outset buttonborder;
	border-radius: 2px;
	color: buttontext;
	cursor: pointer;
	font-family: inherit;
	font-size: 13.3333px;
	line-height: normal;
	outline: none;
	padding: 2px 5px;
	text-rendering: auto;
}

.completed {
	text-decoration: line-through;
	color: gray;
}
